# Include the README
include README.rst

# Include the license file
include LICENSE

# Include the license file
include AUTHORS

# Include the Docker src
include xnat4tests/docker-src/*

# Include Versioneer files
include versioneer.py
include xnat4tests/_version.py
