name: Test

on: [push, pull_request]

defaults:
  run:
    shell: bash

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.7", "3.8", "3.9", "3.10"]
      fail-fast: false
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2
    - name: Disable etelemetry
      run:  echo "NO_ET=TRUE" >> $GITHUB_ENV

    - name: Docker Setup
      uses: docker/setup-buildx-action@v1.6.0
      with:
        # Buildx version. (eg. v0.3.0)
        version: v0.3.0
        # Sets up docker build command as an alias to docker buildx
        install: true

    - name: Set up Python ${{ matrix.python-version }} on ${{ matrix.os }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Update build tools
      run: python -m pip install --upgrade pip setuptools

    - name: Install Package
      run: pip install ".[test]"

    - name: Pytest
      run: pytest -vs tests --cov xnat4tests  --cov-config .coveragerc --cov-report xml

    # - name: Upload coverage to Codecov
    #   uses: codecov/codecov-action@v2
    #   with:
    #     fail_ci_if_error: true
    #     token: ${{ secrets.CODECOV_TOKEN }}
